---
---

@import "{{ site.theme }}";
.language-plaintext highlighter-rouge {
margin-block-start: 0.83em;
}
h1 {
margin-block-start: 1.4em;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000;
  }
  
  to {
    text-shadow: 0 0 5px #fff, 0 0 5px #B3FF00, 0 0 5px #B3FF00, 0 0 5px #B3FF00, 0 0 5px #B3FF00, 0 0 5px #B3FF00, 0 0 5px #B3FF00;
  }
}
